.card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--color-background-cards);
  color: var(--color-text-cards);
  border-radius: 2rem;
}

.card > * {
  margin: 0;
}

.card > *:nth-child(even) {
  align-self: start;
}

.card > *:nth-child(odd) {
  align-self: end;
}

.picture {
  grid-row: 1/8;
  width: 10em;
  border-radius: 2rem;
}
